/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;

}

.category {
  border-radius: 15px 0 0 15px;
  padding: 6px 8px;
}

.difficulty {
  border-radius: 0 15px 15px 0;
  padding: 6px 8px;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}